/* Layout */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  height: 300px;
  width: 360px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

#display {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
}

#keys {
  flex-basis: 80%;
  display: flex;
  flex-flow: row nowrap;
}

.rows {
  flex: 3;
  display: flex;
  flex-flow: column nowrap;
}

.row {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}

.columns {
  flex: 2;
  display: flex;
  flex-flow: row nowrap;
}

.column {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.row > *, .column >* {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row .wide, .column .tall {
  flex: 2;
}

/* Color */

body {
  color: hsl(240, 98%, 98%);
  background-color: hsl(240, 60%, 8%);
}

#calculator {
  background-color: hsl(240, 50%, 20%);
  border: 1px solid hsl(240, 80%, 65%);
  border-radius: 20px;
  overflow: hidden;
}

.row > *, .column > * {
  background-color: hsl(240, 60%, 35%);
}

.row > *.digit, .column > *.digit {
  background-color: hsl(240, 60%, 45%);
}

.row > *.operator, .column > *.operator {
  background-color: hsl(240, 80%, 65%);
}

.row, .column > * {
  margin-top: 2px;
}

.row > *, .column:not(:last-child) {
  margin-right: 2px;
}

/* Mouse */

.row > *:active, .column > *:active {
  filter: brightness(150%);
}

:hover {
  cursor: default;
}

/* pad wide or tall keys to account for missing interior border */

.row .wide {
  padding: 0 1px;
}

.column .tall {
  padding: 1px 0;
}

/* Font & Text */

body {
  font-family: Cousine, 'Courier New', Courier, monospace;
  font-size: 150%;
}

#display {
  font-size: 175%;
  padding: 15px 10px 0;
}
